<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="Style.css">
    <title>MiMascota</title>
</head>

<body class ="bodyCalendario">

            <input id="IdMascota" name="IdMascota" type="hidden" value="@ViewBag.IdMascota">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="Style.css">
    <title>MiMascota</title>
</head>
    
    <h1 class="title">Calendario Interactivo</h1>

<div class="calendar">
    <div class="calendar__info">
        <div class="calendar__prev" id="prev-month">&#9664;</div>
        <div class="calendar__month" id="month"></div>
        <div class="calendar__year" id="year"></div>
        <div class="calendar__next" id="next-month">&#9654;</div>
    </div>

    <div class="calendar__week">
        <div class="calendar__day calendar__item">Mon</div>
        <div class="calendar__day calendar__item">Tue</div>
        <div class="calendar__day calendar__item">Wed</div>
        <div class="calendar__day calendar__item">Thu</div>
        <div class="calendar__day calendar__item">Fri</div>
        <div class="calendar__day calendar__item">Sat</div>
        <div class="calendar__day calendar__item">Sun</div>
    </div>

    <div class="calendar__dates" id="dates"></div>
</div>

<div class = "notas">

    @foreach (Nota Nota in ViewBag.Notas)
        {
            <p>@Nota.Lugar</p>
            <p>@Nota.Info</p>
            <p>@Nota.FechaDosis</p>
            <a  href='@Url.Action("C_EliminarNota", new { IdNota = @Nota.IdNota, IdMascota = @ViewBag.IdMascota})'>Eliminar Nota 2</a>
            <p>Fin</p>
        }

            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ModalNota">Crear Nota</button>
                        
            <!-- Modal Nota -->

        <div class="modal fade" id="ModalNota" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="Titulo"></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
            <div class="modal-body" id="Cuerpo">
                <form method="post" action = '@Url.Action("C_CrearNota")'>
                    <input name="IdMascota" type="hidden" value="@ViewBag.IdMascota" />
                    <input class="largo" type="text" name = "Lugar" placeholder="Lugar" required><br>
                    <input class="largo" type="date" name = "Fecha" placeholder="Fecha" required>
                    <input class="largo" type="text" name = "Info" placeholder="Información" required><br><br>

                    <input class="botonPrimario" type="submit" value="Guardar"><br><br><br>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
            </div>
        </div>
        </div>
</div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    </div>
</body>

</html>