<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="Style.css">
    <title>MiMascota</title>
</head>

<body>
    <header>
        <nav class = "MiMascota">
            <a href='@Url.Action("C_Inicio", new {IdMascota = @ViewBag.Mascota.IdMascota})'><h2>MiMascota</h2></a>
        
            <a href="html.html"><img class="navBar" src="img/calendar.png"></a>
            <a href="css.html"><img class="navBar" src="img/campana.png"></a>
            <a href="Index.html"><img class="navBar" src="img/perroFotoPerfil.png"></a>
        </nav>
    </header>
    
    @foreach (Antecedente Antecedente in ViewBag.Antecedentes)
        {
            <p>@Antecedente.Lugar</p>
            <p>@Antecedente.Fecha</p>
            <p>@Antecedente.Info</p>
            <p>Fin</p>
        }

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ModalAntecedente">Cargar Antecedente</button>
                        
            <!-- Modal Antecedente -->

        <div class="modal fade" id="ModalAntecedente" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="Titulo"></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
            <div class="modal-body" id="Cuerpo">
                <form method="post" action = '@Url.Action("C_AgregarAntecedente")'>
                    <input class="largo" type="text" name = "nombre" placeholder="Tipo" required> 
                    <input class="largo" name = "text" type="lugar" placeholder="Lugar" required><br>
                    <input class="largo" type="date" name = "fecha" placeholder="Fecha" required><br><br>

                    <input class="botonPrimario" type="submit" value="Guardar"><br><br><br>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
            </div>
        </div>
        </div>


</body>

</html>