<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="Style.css">
    <title>MiMascota</title>
</head>

<body>
    <a href="Registrarse.html"><img class="volver" src="img/volver.webp"></a><br>
    <div class="contenedor">
        <div class="input">
            <img class="registrarse" src="img/PerroCorriendo_Registro.jpg"><br>


            <form method="post" action = '@Url.Action("Index")'>
            <input id="IdMascota" name="IdMascota" type="hidden" value="@ViewBag.IdMascota">
            
            <p>@ViewBag.DatosPersonales.Foto</p>
            <p>@ViewBag.DatosPersonales.Nombre</p>
            <p>@ViewBag.DatosPersonales.TipoMascota</p>
            <p>@ViewBag.DatosPersonales.Genero</p>
            <p>@ViewBag.DatosPersonales.Raza</p>
            <p>@ViewBag.DatosPersonales.FechaNacimeinto</p>

            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ModalAntecedente">Cargar Antecedente</button>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ModalVacuna">Cargar Vacuna</button>
                        
            <!-- Modal Antecedente -->

            <div class="modal fade" id="ModalAntecedente" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="Titulo"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="Cuerpo">
                     <form method="post" action = '@Url.Action("C_AgregarAntecedente")'>
                        <input class="largo" type="text" name = "nombre" placeholder="Tipo" required> 
                        <input class="largo" name = "text" type="lugar" placeholder="Lugar" required><br>
                        <input class="largo" type="date" name = "fecha" placeholder="Fecha" required><br><br>

                        <input class="botonPrimario" type="submit" value="Guardar"><br><br><br>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
                </div>
            </div>
            </div>

            <!-- Modal Vacuna  -->

            <div class="modal fade" id="ModalVacuna" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="Titulo"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="Cuerpo">
                     <form method="post" action = '@Url.Action("C_CrearVacuna")'>
                        <input class="largo" type="text" name = "nombre" placeholder="Tipo" required> 
                        <input class="largo" type="date" name = "fecha1" placeholder="Fecha 1ra Dosis" required><br>
                        <input class="largo" type="date" name = "fecha10" placeholder="Fecha Caducacion 1ra Dosis" required><br>
                        <input class="largo" type="date" name = "fecha2" placeholder="Fecha 2da Dosis" ><br>
                        <input class="largo" type="date" name = "fecha20" placeholder="Fecha Caducacion 2da Dosis" ><br>
                        <input class="largo" type="date" name = "fecha3" placeholder="Fecha 3ra Dosis" ><br>
                        <input class="largo" type="date" name = "fecha30" placeholder="Fecha Caducacion 3ra Dosis" ><br><br>

                        <input class="botonPrimario" type="submit" value="Guardar"><br><br><br>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
                </div>
            </div>
            </div>

            <input class="botonPrimario" type="submit" value="Siguiente">
        </form>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    </div>
</body>

</html>