<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="Style.css">
    <title>MiMascota</title>
</head>

<body>
<a href='@Url.Action("C_IniciarSesion")'><img class="volver" src="\img\volver.png"></a><br>
<div class="contenedorElegir">
        
        <div class="logo1">
          <img class="MiMascota" src="\img\icono.png">
          <h1>MiMascota</h1><br><br>
        </div>

        <div class="imagenes">

          <form class = "formElegirMascota" method = "post" action= '@Url.Action("C_ElegirMascota")'>

            @foreach (Mascota mascota in ViewBag.Mascotas)
            {
              <div class="infoElegirMascota">
                <a href='@Url.Action("C_Inicio", new {IdMascota = @mascota.IdMascota})'>
                    <img class="imagen-con-radius" src = "\img\mascotas\@mascota.Foto" alt ="Foto mascota" width = "300px"> 
                    <p>Nombre: @mascota.Nombre</p>
                </a>
              </div>
            }

          

          <div class="info">
            <a class = "botonPrimario" href='@Url.Action("C_AgregarMascotaView", new {IdDueno = @ViewBag.IdDueno})'>+</a>
          </div>
        </form>
        </div>

      <br><br>

    
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    </div>
</body>

</html>

